Soapexample/WebContent/wsdl/Classtest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://info.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://info.com" xmlns:intf="http://info.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://info.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calc">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calcResponse">
    <complexType>
     <sequence>
      <element name="calcReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calcRequest">

      <wsdl:part element="impl:calc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcResponse">

      <wsdl:part element="impl:calcResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Classtest">

      <wsdl:operation name="calc">

         <wsdl:input message="impl:calcRequest" name="calcRequest">

       </wsdl:input>

         <wsdl:output message="impl:calcResponse" name="calcResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClasstestSoapBinding" type="impl:Classtest">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClasstestService">

      <wsdl:port binding="impl:ClasstestSoapBinding" name="Classtest">

         <wsdlsoap:address location="http://localhost:2018/Soapexample/services/Classtest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
